@charset "utf-8";

// Tipografías

@font-face {
  font-display: auto;
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 400;
  src: local("Inter UI"),
       local("Inter-UI-Regular"),
       url("../fonts/Inter-UI.var.woff2") format("woff2-variations"),
       url("../fonts/Inter-UI-Regular.woff2") format("woff2"),
       url("../fonts/Inter-UI-Regular.woff") format("woff"),
       url("../fonts/Inter-UI-Regular.ttf") format("truetype");
}

@font-face {
  font-display: auto;
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 600;
  src: local("Inter UI Semi Bold"),
       local("Inter-UI-SemiBold"),
       url("../fonts/Inter-UI.var.woff2") format("woff2-variations"),
       url("../fonts/Inter-UI-SemiBold.woff2") format("woff2"),
       url("../fonts/Inter-UI-SemiBold.woff") format("woff"),
       url("../fonts/Inter-UI-SemiBold.ttf") format("truetype");
}

@font-face {
  font-display: auto;
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 400;
  src: local("Inter UI"),
       local("Inter-UI-Regular"),
       url("../fonts/subset-Inter-UI-Regular.eot?#iefix") format('embedded-opentype'),
       url("../fonts/subset-Inter-UI.var.woff2") format("woff2-variations"),
       url("../fonts/subset-Inter-UI-Regular.woff2") format("woff2"),
       url("../fonts/subset-Inter-UI-Regular.woff") format("woff"),
       url("../fonts/subset-Inter-UI-Regular.ttf") format("truetype"),
       url('../fonts/subset-Inter-UI-Regular.svg#InterUI-Regular') format('svg');
  unicode-range: U+0000-017E, U+1D43, U+1D52, U+2012-2023, U+2026, U+2039, U+203A, U+20AC, U+2190-2199, U+220F, U+2205, U+2211, 
                 U+2212, U+2248, U+2260, U+2264, U+2265, U+25E6, U+2713, U+2717, U+27F5;
}

@font-face {
  font-display: auto;
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 600;
  src: local("Inter UI Semi Bold"),
       local("Inter-UI-SemiBold"),
       url("../fonts/subset-Inter-UI-SemiBold.eot?#iefix") format('embedded-opentype'),
       url("../fonts/subset-Inter-UI.var.woff2") format("woff2-variations"),
       url("../fonts/subset-Inter-UI-SemiBold.woff2") format("woff2"),
       url("../fonts/subset-Inter-UI-SemiBold.woff") format("woff"),
       url("../fonts/subset-Inter-UI-SemiBold.ttf") format("truetype"),
       url('../fonts/subset-Inter-UI-SemiBold.svg#InterUI-Regular') format('svg');
  unicode-range: U+0000-017E, U+1D43, U+1D52, U+2012-2023, U+2026, U+2039, U+203A, U+20AC, U+2190-2199, U+220F, U+2205, U+2211, 
                 U+2212, U+2248, U+2260, U+2264, U+2265, U+25E6, U+2713, U+2717, U+27F5;
}

// Variables para bulma

$azul: #0D2481;
$rosa-claro: #FFD6D1;

$primary: $azul;
$secondary: $rosa-claro;

$link: $primary;
$link-background: $secondary;

$family-sans-serif: "Inter UI", sans-serif;

$control-border-width: 2px;
$input-shadow: none;
$strong-weight: 600;

$radius: 0;
$radius-small: 0;
$radius-large: 0;
$radius-rounded: 0;

@import "../src/bulma-0.7.4/sass/utilities/_all.sass";

$background: $white-bis;
$body-background-color: $white-bis;
$table-background-color: $white-bis;
$tag-background-color: $grey-lighter;

@import "../src/bulma-0.7.4/sass/base/_all.sass";

$speed: 0.12s;

@import "../src/bulma-0.7.4/sass/elements/button.sass";
@import "../src/bulma-0.7.4/sass/elements/container.sass";
@import "../src/bulma-0.7.4/sass/elements/content.sass";
@import "../src/bulma-0.7.4/sass/elements/form.sass";
@import "../src/bulma-0.7.4/sass/elements/icon.sass";
@import "../src/bulma-0.7.4/sass/elements/tag.sass";
@import "../src/bulma-0.7.4/sass/elements/table.sass";
@import "../src/bulma-0.7.4/sass/elements/title.sass";

@import "../src/bulma-0.7.4/sass/grid/columns.sass";

@import "../src/bulma-0.7.4/sass/components/dropdown.sass";
@import "./sass/navbar.sass";
@import "../src/bulma-0.7.4/sass/components/pagination.sass";

@import "../src/bulma-0.7.4/sass/layout/section.sass";

.contenedor-titulo {
  margin-top: 2em;
  margin-bottom: 4em;
}

b {
  font-weight: 600;
}

.leaflet-container {
  font: inherit !important;
}

#mapid {
  height: 90vh;
}

#map-warning p {
  padding-top: 20vh
}

#grados-wrap {
  margin-top: 3em;
}

table a:link, 
table a:visited,
p a:link,
p a:visited,
span a:link,
span a:visited {
  text-decoration: none;
  color: inherit;
  box-shadow: inset 0 -4px $link-background;
  -o-transition:.32s;
  -ms-transition:.32s;
  -moz-transition:.32s;
  -webkit-transition:.32s;
  transition:.32s;
}

table a:hover, 
table a:active,
p a:hover,
p a:active,
span a:hover,
span a:active {
  text-decoration: none;
  color: inherit;
  background: $link-background;
  box-shadow: inset 0 -4px $link-background;
}

.sin-sombra {
  box-shadow: none!important;
}

.dt-body-right {
	text-align: right!important;
}

td.details-control {
  font-family: "Font Awesome\ 5 Free";
  font-weight: 900;
  color: $primary;
}

td.details-control:after {
  content: "\f067"
}

tr.shown td.details-control:after {
  content: "\f068"
}

table.dataTable.nowrap th, table.dataTable.nowrap td {
  white-space: nowrap
}

div.dataTables_wrapper div.dataTables_length select {
  width: 75px;
  display: inline-block
}

div.dataTables_wrapper div.dataTables_filter {
  text-align: right
}

div.dataTables_wrapper div.dataTables_filter label {
  font-weight: normal;
  white-space: nowrap;
  text-align: left
}

div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
  width: auto
}

div.dataTables_wrapper div.dataTables_paginate {
  white-space: nowrap;
  float: right
}

@media screen and (max-width: 768px){
  div.dataTables_paginate {
    white-space: nowrap;
    float: none !important;
    display: flex;
    justify-content: space-around;
  }
}

table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
  padding-right: 30px
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  position: relative
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
  position: absolute;
  bottom: 4px;
  right: 4px;
  display: block;
  font-family: "Font Awesome\ 5 Free";
  opacity: 0.5
}

table.dataTable thead .sorting:after {
  opacity: 0.2;
  content: "\f0dc"
}

table.dataTable thead .sorting_asc:after {
  content: "\f0de"
}

table.dataTable thead .sorting_desc:after {
  content: "\f0dd"
}

table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
  color: #eee
}

@media screen and (max-width: 768px) {
  div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter, div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate {
    text-align: center
  }
}

/**
 * cool-checkboxes-for-bulma.io v1.1.0: Cool Checkboxes for Bulma.io
 * (c) 2017 
 *  MIT License  
 */

.b-checkbox {
  position: relative;
}

.b-checkbox label {
  padding-left: 5px;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1;
}

.b-checkbox label::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  top: 1px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: #fff;
  transition: background .1s ease-in-out;
}

.b-checkbox label::after {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 3px;
  top: 3px;
  font-size: 12px;
  color: #363636;
}

.b-checkbox input[type="checkbox"],
.b-checkbox input[type="radio"] {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.b-checkbox input[type="checkbox"]:focus + label::before,
.b-checkbox input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.b-checkbox input[type="checkbox"]:checked + label::after,
.b-checkbox input[type="radio"]:checked + label::after {
  content: "\2713";
}

.b-checkbox input[type="checkbox"]:disabled,
.b-checkbox input[type="radio"]:disabled {
  cursor: not-allowed;
}

.b-checkbox input[type="checkbox"]:disabled + label,
.b-checkbox input[type="radio"]:disabled + label {
  opacity: 0.65;
}

.b-checkbox input[type="checkbox"]:disabled + label::before,
.b-checkbox input[type="radio"]:disabled + label::before {
  background-color: whitesmoke;
  cursor: not-allowed;
}

.b-checkbox.is-circular label::before {
  border-radius: 50%;
}

.b-checkbox.is-inline {
  display: inline-block;
  font-weight: normal;
}

.b-checkbox.is-inline + .is-inline {
  margin-left: 10px;
}

.is-primary input[type="checkbox"]:checked + label::before {
  background-color: $primary;
  border-color: $primary;
}

.is-primary input[type="checkbox"]:checked + label::after {
  color: #fff;
}

input[type="checkbox"].styled:checked + label:after {
  content: "\2713";
}

input[type="checkbox"] .styled:checked + label::before {
  color: #fff;
}

input[type="checkbox"] .styled:checked + label::after {
  color: #fff;
}

/**
 * @author zhixin wen <wenzhixin2010@gmail.com>
 */

.ms-parent {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.ms-choice {
  display: block;
  width: 100%;
  height: 2.25rem;
  padding-top: calc(0.375em - 2px);
  padding-bottom: calc(0.375em - 2px);
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  line-height: 26px;
  text-decoration: none;
  border: $control-border-width solid $input-border-color;
  border-radius: $radius;
  background-color: $input-background-color;
  color: $input-color;
  box-shadow: $input-shadow;
}

.ms-choice-active {
  border: $control-border-width solid $input-focus-border-color !important;
  color: $input-focus-color !important;
  box-shadow: $input-focus-box-shadow-size $input-focus-box-shadow-color !important;
}

.ms-choice.disabled {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}

.ms-choice > span {
  top: 0;
  left: 0;
  right: 20px;
  white-space: nowrap;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  padding-left: 8px;
}

.ms-choice > span.placeholder {
  color: #999;
}

.ms-choice > div {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 25px;
}

.ms-drop {
  width: 100%;
  overflow: hidden;
  display: none;
  margin-top: -1px;
  padding: 0.2em;
  position: absolute;
  z-index: 1000;
  background: #fff;
  color: #000;
}

.ms-drop.bottom {
  top: 100%;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
  -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
  box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
}

.ms-drop.top {
  bottom: 100%;
  -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
  -moz-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
  box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
}

.ms-search {
  display: inline-block;
  margin: 0;
  min-height: 26px;
  padding: 4px;
  position: relative;
  white-space: nowrap;
  width: 100%;
  z-index: 10000;
}

.ms-search input {
  width: 100%;
  min-height: 24px;
  padding: 0 20px 0 5px;
  margin: 0;
  outline: 0;
  border: $control-border-width solid $input-border-color;
  border-radius: $radius-rounded;
  background-color: $input-background-color;
  color: $input-color;
  box-shadow: $input-shadow;
}

.ms-search, .ms-search input {
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.ms-drop ul {
  overflow: auto;
  margin: 0;
  padding: 5px 8px;
}

.ms-drop ul > li .disabled {
  opacity: .35;
  filter: Alpha(Opacity=35);
}

.ms-drop ul > li.multiple {
  display: block;
  float: left;
}

.ms-drop ul > li.group {
  clear: both;
}

.ms-drop ul > li.multiple label {
  width: 100%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ms-drop ul > li label.optgroup {
  font-weight: bold;
}

.ms-drop input[type="checkbox"] {
  margin-right: 0.25em;
}

.ms-drop .ms-no-results {
  display: none;
}

.multselect {
	width: 100%;
}